.nav a {
    display: inline-block;
}


body {
    margin: 0 auto;
    font-family: 'Lato', 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    line-height: 1.5rem;
    text-align: center;
    color: #373a36;
    box-sizing: border-box;
    overflow-y: hidden;
    width: 90%;

}

/* .Nav {
    display: flex;
    flex-flow: row nowrap;
} */

.Nav__HeaderNotIn {
    flex: 1 0 auto;
}

.Nav__HeaderSpace {
    margin: 0.5rem;
}

.DashContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100vh;
    margin-top: 2rem;
    border: 1px solid #EEE;
}

.Dashboard {
    overflow-y: hidden;
}

.DashNav {
    display: flex;
    flex: 0 0 25%;
    flex-flow: column nowrap;
    text-align: center;
    z-index: 30;
    background: #061e2a;
    background: linear-gradient(to right,#fefefe, 99%, #8c8c8d);
    padding: 1rem 0 0 0;
    justify-content: flex-start;
}

.menu-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.main-nav-link {
    transition: opacity .2s, visibility .2s;
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    position: relative;
}

.DashNav__folderLink {
    font-weight: 500;
    font-size: 0.66rem;
    letter-spacing: 0.04rem;
    color: #03A9F4;
    padding: 0.75rem 0.5rem;
    text-transform: uppercase;
}

.DashMainPosts {
    flex: 1 1 600px;
    overflow-y: auto;
}

html {
    height: 100%;
}

.post_btn {
    /* color: white; */
    margin: 0.8rem;
    font-weight: 500;
    border-radius: 3px;
    width: auto;
    border-width: 2px;
    padding: 1rem;
    font-size: 1.15rem;
}

  /* .DashNav__folderLink {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  .DashNav__folderLink:hover {
      color: #f1f1f1;
  } */


 /* .DashNav {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
 } */

 /* .DashMainPosts {
    height: 100%;
    display: flex;
    flex-direction: column;
 } */




