.nav a {
    display: inline-block;
}


body {
    margin: 0 auto;
    font-family: 'Lato', 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    line-height: 1.5rem;
    text-align: center;
    color: #373a36;
    box-sizing: border-box;
    /* overflow-y: hidden; */
    /* width: 90%; */

}

.LandingPage, .CreateAccount, .LoginPage, .ProfilePage, .MemberProfiles, .MyProfile, .PostPage{
    margin-top: 5rem;
}

.Dashboard {
    margin-top: 4.5rem;
}

/* .Nav {
    display: flex;≈
    flex-flow: row nowrap;
} */

.Nav__HeaderNotIn {
    flex: 1 0 auto;
}

.Nav__HeaderSpace {
    margin: 0.5rem;
}



/* .Dashboard {
   margin-top: 5.8rem;
} */

.LoginForm {
    width: 100%;
    max-width: 420px;
    padding: 1.3rem;
    padding-bottom: 0rem;
    margin: auto;
}

.LoginForm__signupLabel {
    text-align: left;
    /* display: inline-block; */
    margin-bottom: 0.3rem;
}

.LoginForm__signupLabel > input {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.LoginForm__signupElement {
    text-align: left;
    margin-bottom: 1rem;
}

.LoginForm__redirect {
    margin-top: 1rem;
}

.LoginForm__loginDemo p  {
    margin: 0;
    font-size: 0.9rem;
}

.LoginForm__signupDemo p {
    margin: 0;
    font-size: 0.85rem;
    color: red;
}




html {
    height: 100%;
}

.post_btn {
    color: white;
    /* margin-top: 1rem;
    margin-left: 0.5rem; */
    font-weight: 400;
    border-radius: 3px;
    width: auto;
    border-width: 2px;
    padding: 0.6rem 1.3rem;
    border: none;
    cursor: pointer;
    background-color: rgb(23, 162, 184);
    font-size: 1rem;
    margin-right: 1rem;
}

 h4 {
     margin: 0;
 }




.Dashboard__addSelect {
    width: 100%;
    margin-bottom: 0.5rem;
    display:block;
    /* margin-right: 0.5rem; */
}

.ProfilePage__addSelect {
    width: 30%;
}

.ProfilePage__addSelect:not(:last-child) {
    margin-right: 0.5rem;
}



.image-upload > input {
    display: none;
}

.image-upload {
    text-align: center;
    position: relative;
}

.image-text {
    visibility: hidden;
    position: absolute;
    top: 33%;
    left: 40%;
    opacity: 0;
}

.image-upload:hover .image-text {
    visibility: visible;
    opacity: 1;
}

.PostPage__postContainer {
    border-bottom: 1px solid #EEE;
}



  /* .menu__toggle {
        display: none;
    } */

/* .DashContainer {
    border: 1px solid #EEE;
} */


.menu__toggle {
    display: initial;
}


.DashNav {
    display: none;
}


* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}


.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
  background: white;

}

.main-menu ul {
  list-style: none;
  margin: 0;
  
  width: 200px;
  background: white;
}

.main__ul {
    padding: 2.5rem 0 0;
}

.second__ul {
    padding: 0.8rem;
    border-bottom: 2px solid #EEE;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #373a36;
  text-decoration: none;
  /* border-bottom: 1px solid #383838; */
}

.main-menu li:first-child a {
  border-top: 2px solid #EEE;
  padding-top: 1rem;
}



.main-menu a:hover,
.main-menu a:focus {
  /* background: #333; */
  background: rgba(0, 0, 0, 0.10);
  /* text-decoration: underline; */
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0,0,0,0.5);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

.Nav__header {
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: baseline;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: lightgrey;
  width: 100%;
  z-index: 999;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 auto;
  font-size: 1.25rem;
  cursor: pointer;
}

.user__image {
    border-radius: 50%;
}


.MemberProfiles__user {
    border: 1px solid #EEE;
    margin: 1rem;
    padding: 1rem;
}

.Post {
    text-align: left;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

figcaption {
    font-size: 0.7rem;
}

ul {
    padding: 0;
}

.Dashboard__browseInput {
    /* margin: 1rem; */
    flex: 1 1;
    margin-bottom: 1rem;
}

select {
    margin: auto;
    display: inline-block;
}

.Dashboard__browseContainer {
    /* display: flex;
    text-align: left; */
    width: 90%;
    margin: 0 auto;
}

.Dashboard__addCity {
    flex: 1 1;
}

.Dashboard__addCity h4, .Dashboard__browseInput h4 {
    margin-bottom: 0.4rem;
}

a {
    text-decoration: none;
}



@media only screen and (min-width: 640px) {
    .AddPost__formContainer {
        display: flex;
        justify-content: space-between;
    }


   
    
    
    .messageAdd input {
        flex: 1
    }

    .AddPost__formDiv label {
        margin-right: 0.6rem;
    }

    .AddPost__form {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .AddPost__formContainer {
        margin-bottom: 0.7rem;
    }

    .AddPost__formDiv {
        flex: 1;
        display: flex;
    }

    .AddPost__formDiv select, .AddPost__formDiv input {
        flex: 1
    }

    .AddPost__formDiv:not(:last-child) {
        margin-right: 1.5rem;
    }

    .messageAdd {
        text-align: left;
        display: flex;
        margin-bottom: 0.7rem;
        margin-right: 0;
    }

    .messageAdd label {
        margin-right: 0.6rem;
    }
    
}

#AddPost__cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index: 100;
    width:100%;
    height:100%;
    display:none;
}




#createPostForm {
  /* height:380px;
  width:340px; */
  /* top: 10%;
  left: 10%; */
  width: 100%;
  background-color: white;
  padding: 3rem 1.5rem 1.5rem;
  margin:0 auto;
  position:relative;
  z-index:999;
  display:none;
  border:5px solid #cccccc;
  border-radius:10px;
}

#createPostForm:target, #createPostForm:target + #AddPost__cover{
    display:block;
    opacity:2;
    overflow-y: hidden;
}

.cancelForm {
  display:block;
  position:absolute;
  top:3px;
  right:2px;
  /* background:rgb(245,245,245); */
  color:#373a36;
  /* height:30px;
  width:35px; */
  font-size:1.25rem;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  padding: .75rem;
  line-height: 1rem;
}

.cancelForm:hover, .cancelForm:focus {
    background: rgba(0, 0, 0, 0.10);
}

.AddPost {
    margin: 2rem 0.5rem 1rem;
}



@media only screen and (min-width: 768px) {

      /* .AddPost__form {
        background-color: lightgrey;
        border-radius: 5px;
        position: fixed;
        left: 0.5rem;
        z-index: 999;
        padding: 1rem;
    } */


    .Nav__footer {
        display: none;
    }

    .DashMainPosts__header {
        display: flex;
    }

    .DashMainPosts__header h2 {
        margin: 0;
        margin-top: 2rem;
        font-size: 3rem;
        flex: 1 1;
        text-align: left;
    }
  

    #createPostForm {
      top: 100%;
      /* left: 30%; */
    }


    select {
        margin: 0;
        margin-top: 3px;
    }

    .logo {
        margin-left: 0;
    }

    .main-menu li:first-child a {
        padding: 0.5rem;
    }

    .main-menu li a {
        padding: 0.5rem;
    }

    .Dashboard__browseContainer {
        display: flex;
        /* justify-content: space-between; */
        margin: 0;
        margin-left: 0.5rem;
        /* padding-right: 1rem;
        padding-left: 1rem; */
        
    }

    .Dashboard__addCityForm {
        display: flex;
    }

    .Dashboard__browseInput {
        /* display: flex */
        margin-right: 5rem;
    }

    .Dashboard__browseInput h4 {
        margin-right: 0.5rem;
    }

    .Dashboard__addCity h4 {
        margin-right: 0.5rem;
    }

    .Dashboard__browseInput {
        margin: 0;
    }

    /* .Dashboard__addSelect {
        width: 22%;
    } */

    .Dashboard__addCity {
        flex: 2 1;
        /* display: flex;
        justify-content: flex-end; */
    }

    .selectContainer {
        padding-right: 0.8rem;
    }
    
    
    body {
        overflow-y: hidden;
    }

    .PostPage {
        height: calc(100vh - 152px);
        overflow-y: auto;
    }

    .Nav__logout {
        display: none;
    }
   
    .DashContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: calc(100vh - 198px);
        /* margin-top: 1rem; */
        border: 1px solid #EEE;
    }

    .MemberContainer, .MyProfile__userContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: calc(100vh - 124px);
        /* margin-top: 5rem; */
        border: 1px solid #EEE;
    }



    .DashNav {
        display: flex;
        flex: 0 0 135px;
        flex-flow: column nowrap;
        text-align: center;
        z-index: 30;
        background: #061e2a;
        background: linear-gradient(to right,#fefefe, 99%, #8c8c8d);
        /* padding: 1rem 0 0 0; */
        justify-content: flex-start;
        overflow-y: auto;
    }

    .menu-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: 0.75rem;
    }

    .menu-container:hover, .menu-container:focus {
        background: rgba(0, 0, 0, 0.10);
    }

    .main-nav-link {
        transition: opacity .2s, visibility .2s;
        flex: 1 1 auto;
        /* align-self: center; */
        text-align: left;
        display: flex;
        position: relative;
    }

    .DashNav__folderLink {
        font-weight: 500;
        font-size: 0.85rem;
        letter-spacing: 0.04rem;
        color: rgb(0, 123, 255);
        padding: 0.75rem 0.5rem;
        text-transform: uppercase;
    }

    .DashMainPosts {
        flex: 1 1 75%;
        overflow-y: auto;
    }

    .MemberProfiles__userList {
        flex: 1 1 75%;
        overflow-y: auto;
        /* height: calc(100vh - 124px); */
        margin-top: 0;
    }

    .MyProfile__userInfo {
        flex: 1 1 75%;
        overflow-y: auto;
        /* height: calc(100vh - 124px); */
        margin-top: 1rem;
    }

    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    .main-menu ul {
        width: auto;
        background: lightgrey;
    }
  
    .main-menu {
        position: relative;
            left: auto;
            top: auto;
            height: auto;
        display: block;
    }
    
    .main__ul {
        display: flex;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
                box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }

    .second__ul {
        display: none;
    }
    
    .main-menu a {
        color: rgb(0, 123, 255);
        border: 0 !important; 
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
        background: none; 
        color: #c00;
    }

}

