.fas {
    margin-right: 3px;
}

a {
    color: rgb(0, 0, 238);
}

.contactItem {
    display: inline-block;
    /* padding-right: 0.8rem; */
    padding: 0.8rem;
    margin: 0 auto;
}

/* .contact-item a {
    /* color: white;
}  */

.mail {
    padding-left: 0.9rem;
}

.copyRight {
    text-align: center;
}

.copyRight p {
    font-size: 0.7rem;
}

footer {
    text-align :center;
    width: 100%;
    /* color: white; */
    font-weight: 500;
    margin-top: 1.5rem;
    /* padding: 0.5rem 1rem; */
    line-height: 0.6rem;
}

footer ul {
    margin-block-start: 0em;
    margin-block-end: 0rem;
    padding: 0px;
}

li {
    list-style: none
}